

/* header changes */
.navbar-brand {
  float: left;
  padding: 20px 80px;
  font-size: 40px;
  line-height: 20px;
  height: 60px;
}


h3{
text-align: center;
font-size: 24px;
margin-top: 5px;
margin-bottom: 20px;

}


h2{
margin-left: 10%;
}


/* footer changes */
h5 {
text-align: center;
color: white;
font-size: 12px;


}


/*sidebar*/

.sidebar {
  padding: 30px;
  width: 100%;
  max-width: 270px;
  float: right;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}


/*main*/

#main-container {
  padding-top: 130px;
}

.main-section {
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 650px;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
}
